---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/E1%207QX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"333-lYU+MIHwgVpOmdUtQEkRBd8AZV0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"E1 7QX","quality":1,"eastings":533985,"northings":181441,"country":"England","nhs_ha":"London","longitude":-0.070426,"latitude":51.51601,"european_electoral_region":"London","primary_care_trust":"Tower
        Hamlets","region":"London","lsoa":"Tower Hamlets 015D","msoa":"Tower Hamlets
        015","incode":"7QX","outcode":"E1","parliamentary_constituency":"Bethnal Green
        and Bow","admin_district":"Tower Hamlets","parish":"Tower Hamlets, unparished
        area","admin_county":null,"admin_ward":"Spitalfields & Banglatown","ced":null,"ccg":"NHS
        Tower Hamlets","nuts":"Tower Hamlets","codes":{"admin_district":"E09000030","admin_county":"E99999999","admin_ward":"E05009333","parish":"E43000220","parliamentary_constituency":"E14000555","ccg":"E38000186","ccg_id":"08V","ced":"E99999999","nuts":"UKI42"}}}'
  recorded_at: Sun, 06 Dec 2020 17:13:18 GMT
- request:
    method: get
    uri: http://postcodes.io/postcodes/W12%208TT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"37e-Om9QIeKhIV59+afAAthPlPlFGcc"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"W12 8TT","quality":1,"eastings":523329,"northings":179771,"country":"England","nhs_ha":"London","longitude":-0.224499,"latitude":51.503426,"european_electoral_region":"London","primary_care_trust":"Hammersmith
        and Fulham","region":"London","lsoa":"Hammersmith and Fulham 005C","msoa":"Hammersmith
        and Fulham 005","incode":"8TT","outcode":"W12","parliamentary_constituency":"Hammersmith","admin_district":"Hammersmith
        and Fulham","parish":"Hammersmith and Fulham, unparished area","admin_county":null,"admin_ward":"Shepherd''s
        Bush Green","ced":null,"ccg":"NHS Hammersmith and Fulham","nuts":"Kensington
        & Chelsea and Hammersmith & Fulham","codes":{"admin_district":"E09000013","admin_county":"E99999999","admin_ward":"E05000263","parish":"E43000203","parliamentary_constituency":"E14000726","ccg":"E38000070","ccg_id":"08C","ced":"E99999999","nuts":"UKI33"}}}'
  recorded_at: Sun, 06 Dec 2020 17:14:38 GMT
recorded_with: VCR 6.0.0
