---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/E1%207QX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"333-lYU+MIHwgVpOmdUtQEkRBd8AZV0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"E1 7QX","quality":1,"eastings":533985,"northings":181441,"country":"England","nhs_ha":"London","longitude":-0.070426,"latitude":51.51601,"european_electoral_region":"London","primary_care_trust":"Tower
        Hamlets","region":"London","lsoa":"Tower Hamlets 015D","msoa":"Tower Hamlets
        015","incode":"7QX","outcode":"E1","parliamentary_constituency":"Bethnal Green
        and Bow","admin_district":"Tower Hamlets","parish":"Tower Hamlets, unparished
        area","admin_county":null,"admin_ward":"Spitalfields & Banglatown","ced":null,"ccg":"NHS
        Tower Hamlets","nuts":"Tower Hamlets","codes":{"admin_district":"E09000030","admin_county":"E99999999","admin_ward":"E05009333","parish":"E43000220","parliamentary_constituency":"E14000555","ccg":"E38000186","ccg_id":"08V","ced":"E99999999","nuts":"UKI42"}}}'
  recorded_at: Sun, 06 Dec 2020 16:56:17 GMT
recorded_with: VCR 6.0.0
