---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/NG13AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"337-ckeNycov/BWRvs9mPfhzUtTyH+I"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"NG1 3AL","quality":1,"eastings":457620,"northings":339977,"country":"England","nhs_ha":"East
        Midlands","longitude":-1.143788,"latitude":52.954084,"european_electoral_region":"East
        Midlands","primary_care_trust":"Nottingham City","region":"East Midlands","lsoa":"Nottingham
        039E","msoa":"Nottingham 039","incode":"3AL","outcode":"NG1","parliamentary_constituency":"Nottingham
        South","admin_district":"Nottingham","parish":"Nottingham, unparished area","admin_county":null,"admin_ward":"Castle","ced":null,"ccg":"NHS
        Nottingham and Nottinghamshire","nuts":"Nottingham","codes":{"admin_district":"E06000018","admin_county":"E99999999","admin_ward":"E05012277","parish":"E43000016","parliamentary_constituency":"E14000867","ccg":"E38000243","ccg_id":"52R","ced":"E99999999","nuts":"UKF14"}}}'
  recorded_at: Sun, 06 Dec 2020 16:33:32 GMT
recorded_with: VCR 6.0.0
